<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="section-title">
        <h2>Forgot Password</h2>
      </div>
    </div>
  </div>
</div>

<div id="complete_div">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <form>
          <input
            type="text"
            id="name"
            class="name"
            placeholder=" Enter Your Email"
            autocomplete="off"
          />

          <br />
          <br />
          <button id="login_button" class="login_button">Send Link</button>
        </form>
      </div>
      <div class="col-md-6">
        <img src="assets/fpass.png" alt="fpass_image" id="fpass_image" />
      </div>
    </div>
  </div>
</div>
