<div class="container">
  <div class="row">
    <div class="col-md-6"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1 id="h1_tag">We do it (like never) before</h1>
          <p><i class="fas fa-check"></i>Connect with your friends</p>
          <p><i class="fas fa-check"></i>World around you on sociogram</p>
          <p><i class="fas fa-check"></i>Easy to signup</p>
          <div class="buttons">
            <button id="sign_up" routerLink="/auth/signup">Signup</button>
            <button id="log_in" routerLink="/auth/login">Login</button>
          </div>
        </div>
        <div class="col-md-6">
          <img src="assets\Development.png" alt="Development" id="dev_image" />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 id="contact">Contact Us</h2>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="bla_bla">
        <div class="image_container">
          <i class="fas fa-map-marker-alt"></i>
          <h3 class="mt-4">Our Address</h3>
          <h4 class="mt-4">1155 Union Circle, Texas, TX 76201</h4>
        </div>
      </div>
      <div class="col-md-6">
        <div class="bla_bla">
          <div class="image_container2">
            <i class="far fa-envelope"></i>
            <h2 class="mt-4">Email US</h2>
            <p class="info">info@sociogram.com</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="bla_bla">
          <div class="image_container2">
            <i class="fas fa-phone-volume"></i>
            <h2 class="mt-4">Call US</h2>
            <p class="info">+1 5589 55488</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="all_center">
        <div class="bla_bla">
          <input type="text" placeholder="Name" autocomplete="off" />
          <br />
          <br />
          <input
            type="text"
            name="email"
            id="email"
            placeholder="Email"
            autocomplete="off"
          />
          <br />
          <br />

          <input
            type="text"
            name="sub"
            id="sub"
            placeholder="Subject"
            autocomplete="off"
          />
          <br />
          <br />

          <textarea
            name="message"
            id="message"
            cols="30"
            rows="6"
            placeholder="Message"
          ></textarea>
          <br />
          <br />
          <button class="button" id="button">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2 id="socio_gram">Sociogram</h2>
      <p>
        1155, Union Circle <br />
        Denton <br />
        TX 76201 <br />
        United States
      </p>
      <p>
        <b> Phone:</b> +1 1234 56788 55 <br />
        <b>Email:</b> info@sociogram.com
      </p>
    </div>
    <!-- <div class="col-md-6">
      <h4 id="join_team">Join in our Team</h4>
      <div class="quote">
        <i class="fas fa-quote-left"></i>Talent wins games, but teamwork and
        intelligence win championships
        <i class="fas fa-quote-right"></i>
      </div>
      <br />
      <input
        type="text"
        class="subscribe"
        id="subscribe"
        placeholder="Subscribe"
        autocomplete="off"
      />
      <br /><br />
      <button id="sub" class="sub">Subscribe</button>
    </div> -->
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="copy_color">
        <div class="blaa_blaa">
          <h3 class="copy_right">© Copyright SocioGram. All Rights Reserved</h3>
          <div class="icons">
            <i class="fab fa-twitter"></i>
            <i class="fab fa-facebook"></i>
            <i class="fab fa-instagram-square"></i>
            <i class="fab fa-linkedin"></i>
            <i class="fab fa-skype"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
