
<h1 style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; text-align: center; color:indianred;">Update Password</h1>
<br>
<br>
<br>
<mat-card style="background-color: mintcream;">
    <!-- <mat-spinner *ngIf="isLoading"></mat-spinner> -->
    <form [formGroup]="form" (submit)="onChangePassword()">
      <mat-form-field>
        <input matInput type="text" formControlName="cp" placeholder="Current Password">
        <mat-error *ngIf="form.get('cp').invalid">Invalid </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" formControlName="np" placeholder="New Password">
        <mat-error *ngIf="form.get('np').invalid">Invalid </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" formControlName="cnp" placeholder="Confirm New Password">
        <mat-error *ngIf="form.get('cnp').invalid">Invalid </mat-error>
      </mat-form-field>
    <br>
    <br>
    <br>
      
  
      
      <button mat-raised-button color="accent" type="submit">Update</button>
    </form>
  </mat-card>
  